html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: $default-font-size;
  line-height: $default-line-height;
}

body {
  color: $body-color;
  overflow-y: scroll;
  font-family: Lato, sans-serif;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  &:active,
  &:hover {
    outline-width: 0;
  }
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  color: inherit;
  font: inherit;

  line-height: normal;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  -webkit-appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

@media screen and (min-width: $break-point-1) {
  html {
    font-size: $default-font-size-medium;
  }
}

@media screen and (min-width: $break-point-2) {
  html {
    font-size: $default-font-size;
  }
}

@media screen and (min-width: $break-point-4) {
  html {
    font-size: $default-font-size-medium;
  }
}

@media screen and (min-width: $break-point-font-large) {
  html {
    font-size: $default-font-size-large;
  }
}
