.sidebar {
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  transform: translate3d(0, 0, 0);
  contain: strict;
  width: 18rem;
  color: rgba(255, 255, 255, 0.75);
  text-align: left;
  font-family: Lato, sans-serif;

  a {
    color: #fff;
    transition: color 1s, border-color 50ms;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    &:hover {
      border-bottom-color: #fff;
      text-decoration: none;
      transition: border-color 0.7s;
    }
  }

  .sidebar-bg {
    position: absolute;
    height: 100%;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #044258;
    background: #202020 center / cover;
  }

  .sidebar-contents {
    height: 100%;
    position: absolute;
    overflow: auto;
    padding: 5rem 0rem;
    right: 2.5rem;
    left: 2.5rem;
    z-index: 3;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .sidebar-about {
    text-align: center;
    h1 {
      font-size: 2rem;
      line-height: 1.3;
    }
  }

  .sidebar-category {
    a {
      font-weight: 600;
      line-height: 1.75;
      width: 100%;
      display: inline-block;
    }
  }
}
